p.redred{
    color:rgb(192, 21, 21);
}

*{
    font-family:'Noto Sans TC',sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Serif TC', sans-serif;
    }

.expedu_icon{
    color:blue
}
h1{
    color:blue;
}
.expedu_icon:hover{
  background-color: blue;
  color: white;

}
.bg-rpimary{
    background-color: pink; !important;
}
span.blueblue{
    color: pink;
}
.aaa{
    background-color: rgb(38, 179, 255);
    color: white;
    border: 5px;
    
}